**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
.venv
venv
.env
*.env
.git
.gitignore
node_modules
.auditor_cache
reports/
*.log
*.tmp
__docs/
README.md
tests/
.pytest_cache
.mypy_cache
.ruff_cache
dist/
build/
